*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
nav{
    background-color: rgba(9, 9, 12, 0.836);
    height: 7%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 36px;
    position: fixed;
    width: 100%;
    z-index: 2;
}
a{
    text-decoration: none;
    color: rgb(164, 161, 161);
    font-size: 15px;
    text-transform: capitalize;
}
a:hover{
    color: white;
}
i{
    color: rgb(164, 161, 161);
}
i:hover{
    color: white;
}
.logo{
    color: white;
}

main{
    height: 95%;
    width: 100%;
    background-color: black;
}
main img{
    height: 28rem;
    position: absolute;
    top: 54%;
    left: 50%;
    transform: translate(-47%,-50%);
}
.content{
    background-color: black;
    height: 52%;
    text-align: center;
    
}
.content p{
    color: rgb(164, 161, 161);
    font-size: 32px;
    padding: 2rem 10rem;
}

.content button{
    padding: 13px 25px;
    border: 2px solid white;
    border-radius: 25px;
    color: white;
    margin-top: 1rem;
    font-size: 17px;
    background-color: black;
}

.content button:hover{
    color: black;
    background-color: white;
}

/* pro15 start */
.pro15{
    text-align: center;
    padding: 6rem 18rem;
    /* background-color: rgb(6, 6, 8); */
    background: linear-gradient(#0A0A0A,#000000 20%);
    height: 240%;
    overflow: hidden;
}
.title{
    color: white;
    font-size: 5rem;
    margin-bottom: 1.4rem;
}

.intro{
    color:rgb(88, 85, 85) ;
    font-size: 27px;
    margin-bottom: 2rem;
}
.order{
    color: white;
    font-size: 20px;
}
.orderinfo{
    margin-bottom: 2.5rem;
}

.buttons{
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-bottom: 1rem;
}
.btn{
    color: white;
    background-color: black;
    border-radius: 40px;
    border: 2px solid white;
    padding: 17px 25px;
    font-size: 17px;
    margin-bottom: 2rem;
    z-index: 1;
}

.btn:hover{
    color: black;
    background-color: white;
}

/* 15 css start  */

.iphone15{
    text-align: center;
    padding: 6rem 18rem 0.5rem 18rem;
    
}
.iphone15 .title{
    color: black;
}
.iphone15 .order{
    color: black;
}
.iphone15 img{
    width: 100%;
    text-align: justify;
}

.iphone15-series img{
    width: 100%;
    padding-top: 10px;
}
.iphone15-series .buttons{
    margin-bottom:1rem ;
   
}
.iphone15-series .btn{
    background-color: white;
    color: #000000;
    border: 2px solid black;
    border-radius: 40px;
}
.iphone15-series .btn:hover{
    color: white;
    background-color: black;
}

/* watch sectiopn start  */
.watch{
    position: relative;
}
.watch-content{
    text-align: center;
    padding: 6rem 18rem 0.5rem 18rem;
    height: 10%;
    background-color: #000000;
}
.series{
    color: red;
    font-size: 2rem;
    letter-spacing: 8px;
    margin-bottom: 1.2rem;
}
.watch img{
    width: 100%;
    position: absolute;
    top: 85%;
}


/* watch 2  */
.watch2 .watch-content{
    margin-top: 45%;
    background-color: rgb(255, 255, 255);
}
.watch-content .title-watch2{
    color: black;
    font-size: 5rem;
    margin-bottom: 1.4rem;
}
.order-watch2{
    color: #000000;
}
.buttons-watch2 .btn{
    color: black;
    border: 2px solid black;
    background-color: white;
}

.buttons-watch2 .btn:hover{
    background-color: black;
    color: white;
}

.watch2 .images{
    display: flex;
    justify-content: center;
}
.images img{
    width: 31.2%;
    padding-bottom: 6rem;
}

/* carbon neutral start   */
.carbon{
    text-align: center;
}
.carbon-content{
    text-align: center;
    padding: 6rem 18rem;
    background: linear-gradient(rgb(243, 240, 240),white);
    height: 110%;
    /* overflow: hidden; */
}
.buttons-carbon .btn{
    color: black;
    background-color: white;
    border: 2px solid black;
}
.buttons-carbon .btn:hover{
    color: white;
    background-color: black;
}
.buttons-carbon{
    margin-bottom: 0rem;
}
.carb-img{
    width: 35%;
    text-align: center;
}


/* footer start  */
#footer p{
    margin-bottom: 1%;
}
#footer{
    background-color: black;
    color: white;
    padding: 1rem 6rem;
}

.footer-elements{
    margin-top: 2%;
    color: white;
    display: flex;
    justify-content: flex-start;
    gap: 10%;
}
.footer-elements a{
    display: block;
    font-size: 90%;
    margin-top: 2.8%;
}
